.wrapper {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.avg-price, .current-price, .current-value,  {
  padding-left: 50px;
}

.stock-table {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #CCC;
}
.stock-table th,
.stock-table td {
  padding: 6px 10px;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
}
.stock-table th:first-child,
.stock-table td:first-child {
  border-left: 0 none;
}
.stock-table th {
  text-align: center;
  font-weight: normal;
  background: #eee;
}
.stock-table td {
  text-align: right;
}
.stock-table .label {
  display: none;
}
.stock-table .lower {
  color: #07bb07;
}
.stock-table .upper {
  color: #d92c12;
}
@media (max-width: 768px) {
  .stock-table colgroup {
    display: none;
  }
  .stock-table thead,
.stock-table thead th {
    display: none;
  }
  .stock-table tr {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px 0;
    border-top: 1px solid #ccc;
    clear: both;
  }
  .stock-table th,
.stock-table td {
    display: block;
    float: left;
    box-sizing: border-box;
    border: 0;
  }
  .stock-table th {
    width: 100%;
    background: none;
  }
  .stock-table td {
    margin-bottom: 10px;
    padding: 0 1px;
    width: 25%;
    text-align: center;
  }
  .stock-table td:nth-child(2),
.stock-table td:nth-child(3),
.stock-table td:nth-child(4) {
    width: 33.33%;
  }
  .stock-table .label {
    display: block;
    padding: 5px 8px;
    font-weight: normal;
    color: #fff;
    background: #666;
  }
  .stock-table .data {
    display: block;
    padding: 5px 8px;
    background: #f8f8f8;
  }
}