body, html {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

input {
  font-family: "Big Shoulders Display", cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}