.result-content {
    font-family: "Big Shoulders Display", cursive;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 48px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .result-content .player-card {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    padding: 64px 72px;
    margin: 0 auto;
    color: #fff;
    background: linear-gradient(180deg, #232635 2.28%, #080A16 86.3%);
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.4);
  }
  .result-content .player-card:hover {
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in;
  }
  .result-content .player-card .verified {
    position: absolute;
    left: 110%;
  }
  .result-content .player-card .verified .label {
    background: #222;
    font-size: 12px;
    letter-spacing: 1px;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    display: none;
    position: absolute;
    bottom: 100%;
    transform: translateY(-5px);
  }
  .result-content .player-card .verified:hover .label {
    display: block;
    transform: translateY(0px);
    transition: all 0.2s ease-in;
  }
  .result-content .player-card .image {
    width: 128px;
    height: 128px;
    border-radius: 12px;
    margin: 0px auto;
    margin-bottom: 16px;
    overflow: hidden;
  }
  .result-content .player-card .image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .result-content .player-card .age {
    background: -webkit-linear-gradient(267.54deg, #ffdc24 1.63%, #ff5c00 98.05%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .result-content .player-card .age span {
    color: #676A7D;
    -webkit-background-clip: none;
    -webkit-text-fill-color: #676A7D;
    letter-spacing: 0.5px;
  }
  .result-content .player-card .name {
    font-size: 32px;
    letter-spacing: -0.01em;
    font-weight: bold;
    margin-top: 16px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .result-content .player-card .name svg {
    width: 24px;
    height: 24px;
  }
  .result-content .player-card .name svg g, .result-content .player-card .name svg path {
    fill: green;
  }
  .result-content .player-card .divider {
    margin: 32px 0;
    width: 125px;
    height: 2px;
    background: #24273A;
  }
  .result-content .player-card .role {
    color: #676A7D;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  .result-content .player-card .team {
    font-size: 20px;
    letter-spacing: 2px;
  }